.container {
    display: flex;
    flex-direction:row;
    width: 450px;
    height: 71px;
    left: 0px;
    top: 0px;
    background: #0C2537;
}

.container_left {
    display: flex;
    flex-direction:row;
    width: 50%;
    height: 100%;
    left: 0px;
}
.container_right {
    display: flex;
    flex-direction:column;
    width: 50%;
    height: 100%;
    left: 0px;
}

.mainicon {
    align-self: center;
    width: 59px;
    height: 55px;
    background: url('/src/assets/apcellent_logo.png');
}

.container_right .network {
    align-self: flex-end;
    width: 64px;
    height: 13px;
    padding-top:1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #24FF00;
}

.container_right .setting {
    align-self: flex-end;
    padding-top: 5px;
    width: 64px;
    height: 37px;
}

.header .title2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color:#054BB3;
}

.header .button {
    color:red;
    z-index: 1;
} 