.sendtoken {
    height: 100%;
    text-align: center;
    min-width: 450px;
}
.sendtoken::-webkit-scrollbar{
    display:none;
}
.sendtoken .title {
    position: absolute;
    width: 171px;
    height: 31px;
    left: 20px;
    top: 80px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: start;
    /* identical to box height */
    color: #054BB3;
}

.sendtoken .recipient_input{
    position: absolute;
    width: 400px;
    height: 39px;
    left: 20px;
    top: 135px;
}


.sendtoken .amount_input{
    position: absolute;
    width: 400px;
    height: 39px;
    left: 20px;
    top: 200px;
}

.sendtoken .amount_img {
    position: absolute;
    width: 10px;
    height: 12px;
    left: 410px;
    top: 186px;

    text-align: end;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 12px;
    color: #054BB3;
}

.sendtoken .amount_text {
    position: absolute;
    width: 100px;
    height: 11px;
    left: 305px;
    top: 188px;
    text-align: end;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;

    color: #054BB3;
}

.sendtoken .amount_type  {
    position: absolute;
    width: 28px;
    height: 11px;
    left: 385px;
    top: 216px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    
    color: #054BB3;
}

.sendtoken .memo_input  {
    position: absolute;
    width: 400px;
    height: 39px;
    left: 20px;
    top: 270px;
    
}

.sendtoken .feeMenu {
    position: absolute;
    width: 400px;
    height: 102px;
    left: 20px;
    top: 330px;

    background: #E2EBFA;
    border-radius: 13px;
}

.sendtoken .fee {
    position: absolute;
    width: 87px;
    height: 16px;
    left: 20px;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    text-align: start;

    color: #054BB3;
}
.sendtoken .fee_text{
    position: absolute;
    width: 70px;
    height: 16px;
    left: 250px;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;

    color: #054BB3;

}
.sendtoken .fee_type{
    position: absolute;
    width: 70px;
    height: 16px;
    left: 300px;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;

    color: #054BB3;

}


.sendtoken .balance {
    position: absolute;
    width: 87px;
    height: 16px;
    left: 20px;
    top: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    text-align: start;

    color: #054BB3;
}
.sendtoken .balance_text {
    position: absolute;
    width: 70px;
    height: 16px;
    left: 250px;
    top: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;

    color: #054BB3;

}
.sendtoken .balance_type {
    position: absolute;
    width: 70px;
    height: 16px;
    left: 300px;
    top: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;

    color: #054BB3;

}

.sendtoken .balancetx {
    position: absolute;
    width: 87px;
    height: 16px;
    left: 20px;
    top: 70px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    text-align: start;

    color: #054BB3;
}
.sendtoken .balancetx_text {
    position: absolute;
    width: 70px;
    height: 16px;
    left: 250px;
    top: 70px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;

    color: #054BB3;

}
.sendtoken .balancetx_type {
    position: absolute;
    width: 70px;
    height: 16px;
    left: 300px;
    top: 70px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;

    color: #054BB3;

}

.sendtoken .password_input {
    position: absolute;
    width: 400px;
    height: 16px;
    left: 20px;
    top: 460px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;

    color: #054BB3;
}

.sendtoken .button {
    position: absolute;
    width: 400px;
    height: 35px;
    left: 20px;
    top: 520px;
}